<div class="container">
    @Html.Widget("header")
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            @Html.Action("TaxTypeSelector", "Common")
            @Html.Action("Page", "Common")
            @Html.Widget("header_selectors")
            @Html.Action("HeaderLinks", "Common")
            @Html.Action("LanguageSelector", "Common")
        </div>
    </div>
    <div class="header-lower">
        <div class="header-logo">
            @Html.Action("Logo", "Common")
        </div>
        <div class="search-box store-search-box">
           @Html.Action("SearchBox", "Catalog")
        </div>
    </div>
